body{
    background-color: #0f1111;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

#nav{
    /*<nav> tag*/
    background-color: rgb(77, 18, 131);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    margin-top: 0px;
    z-index: 999;
}

#nav_container{
    /*<nav>-on belüli <div>*/
    display: flex;
    justify-content: space-between;
    height: 40px;
    max-width: 1300px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    z-index: 1;
}

#nav_list{
    /*<nav> <div> tagon belüli <ul>*/
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.nav_link{
    /*<nav> -> <div> -> <ul> -> <li> -> <a>*/
    color: #a861ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 125px;
    height: 100%;
    transition: all 0.5 ease;
}

.cont{
    margin-left: 300px;
    margin-right: 300px;
}

h1, h2{
    color: #fcfcfc;
}

p{
    color: #fcfcfc;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 34px;
    text-align: justify;
}

.szoveg{
    color: #c5c2be;
}

a{
    color: #e1590a;
}

#langselect_cont{
    justify-items: center;
}

a:hover{
    color: #ff2a2a;
}

footer{
    margin-top: auto;
}

#footer_text{
    text-align: center;
    font-size: 11px;
}

/* .list-unstyled, li {
    list-style-image: url("../../asset/media/docx_icon.png");
    width: 20px;
    height: auto;
    padding-left: 1px; 
} */