*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to right top, #ecbbff, #416bd7, #dfeb2e, #5bee3d);
}
form{
    background: #555555;
    width: 350px;
    height: 580px;
    padding-left: 50px;
    padding-top: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    margin-bottom: 45px;
    color: white;
    font-size: 40px;
}